<svg viewBox="0 0 100 14">
  <circle cx="8%"    cy="50%" r="5.6" stroke="black" stroke-width="0.5" [attr.fill]="modelView.answerColors[0]" />
  <circle cx="19.5%" cy="50%" r="5.6" stroke="black" stroke-width="0.5" [attr.fill]="modelView.answerColors[1]" />
  <circle cx="31%"   cy="50%" r="5.6" stroke="black" stroke-width="0.5" [attr.fill]="modelView.answerColors[2]" />
  <circle cx="42.5%" cy="50%" r="5.6" stroke="black" stroke-width="0.5" [attr.fill]="modelView.answerColors[3]" />
  <circle cx="54%"   cy="50%" r="5.6" stroke="black" stroke-width="0.5" [attr.fill]="modelView.answerColors[4]" />

  <circle cx="67%" cy="60%" r="3" stroke="black" stroke-width="0.5" [attr.fill]="modelView.checkColors[0]" [attr.visibility]="modelView.checkVisibility[0]"  />
  <circle cx="74%" cy="60%" r="3" stroke="black" stroke-width="0.5" [attr.fill]="modelView.checkColors[1]" [attr.visibility]="modelView.checkVisibility[1]" />
  <circle cx="81%" cy="60%" r="3" stroke="black" stroke-width="0.5" [attr.fill]="modelView.checkColors[2]" [attr.visibility]="modelView.checkVisibility[2]" />
  <circle cx="88%" cy="60%" r="3" stroke="black" stroke-width="0.5" [attr.fill]="modelView.checkColors[3]" [attr.visibility]="modelView.checkVisibility[3]" />
  <circle cx="95%" cy="60%" r="3" stroke="black" stroke-width="0.5" [attr.fill]="modelView.checkColors[4]" [attr.visibility]="modelView.checkVisibility[4]" />
</svg>