<app-round-state *ngFor="let round of roundModelViews"
  [modelView]="round">
</app-round-state>

<!-- todo style buttons -->
<div class="button-row"> 
  <button mat-raised-button (click)="incrementWhite()">⚪</button>
  <button mat-raised-button (click)="incrementBlack()">⚫</button>
  <button mat-raised-button (click)="checkScore()" color="primary"><mat-icon>check_circle</mat-icon></button>
</div>

<ngc-float-button icon="add" direction="top" color="red">
  <ngc-float-item-button (click)="cleanScore()" icon="skip_previous" content="retype score"></ngc-float-item-button>
  <ngc-float-item-button (click)="newGame()" icon="autorenew" content="new game"></ngc-float-item-button>
</ngc-float-button>