<app-round-state *ngFor="let round of roundModelViews"
  [modelView]="round">
</app-round-state>

<!-- todo style buttons -->
<div class="button-row"> 
  <button mat-raised-button (click)="incrementWhite()">⚪</button>
  <button mat-raised-button (click)="incrementBlack()">⚫</button>
  <button mat-raised-button (click)="checkScore()" color="primary"><mat-icon>check_circle</mat-icon></button>
</div>

<!-- todo speed dial fob -->
<div class="button-row"> 
  <button mat-raised-button (click)="cleanScore()" color="accent"><mat-icon>skip_previous</mat-icon></button>
  <button mat-raised-button (click)="newGame()" color="warn"><mat-icon>autorenew</mat-icon></button>
</div>
