.content {
  min-height: calc(100vh - 70px);
  max-width: 1000px;
}
.footer {
  height: 50px;
  margin-left: 50%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.mat-fab.mat-accent {
  background-color: white;
  color: black;
}

.mat-fab.mat-warn {
  background-color: black;
}

ngc-float-button /deep/ .content {
  margin-right: 55px;
}

ngc-float-button /deep/ .fab-toggle,
ngc-float-button /deep/ .fab-item,
ngc-float-button /deep/ .content {
  transform: scale(1.1);
}